@import '../../variables';

.community-about-panel {
  &__container {
    display: flex;
    height: 400px;
    flex-direction: column;
    overflow: hidden;
    border-radius: 10px;
    background: #212633;
    padding: 24px;
  }

  &__title {
    font-size: 22px;
    font-weight: 500;
    line-height: 1.1;
    color: #fff;
  }

  &__meta {
    margin-top: 12px;
    font-size: 14px;
    color: #9ca0ad;
  }

  &__description {
    margin-top: 24px;
    overflow: hidden;
    font-size: 16px;
    line-height: 1.5;
    color: #e3e7ef;
  }
}
